<div class="headerpane">
    <h1>
        <span class="record-cell">Search for documents:</span>
        <div class="btn-toolbar pull-right dropdown">
            {{#each meta.buttons}} {{field ../this model=../this.model template="detail"}} {{/each}}
        </div>
    </h1>
</div>

<div class="main-pane span12">
    <p>This is the Search view</p>
</div>