{{#if hubspotProfileUrl}}
    <iframe frameborder="0" width="100%" height="{{frameHeight}}" src="{{hubspotProfileUrl}}"></iframe>
{{else}}
    <div class="block-footer">{{str "LBL_NO_DATA_AVAILABLE" }}</div>
{{/if}}