<ul class="nav megamenu">
  <li class="dropdown">
    <div class="btn-group">
      <a title="Back to workspace" class="btn btn-invisible btn-link" href="{{workspace_url}}">
        <i class="fa fa-home fa-workspace"></i>
      </a>
    </div>
  </li>
</ul>